MTengine: NLLB
system_name: MTUOC-TANIBE-ast-spa

TranslationMemory: 
  Path: None  
  sl: ast
  tl: spa
  

#path to memory or None

MTUOCServer:
  port: 8010
  type: MTUOC
  #one of MTUOC, Moses, ModernMT, OpenNMT, NMTWizard
  verbosity_level: 1
  #specific configuration when acting as ONMT server
  log_file: log.log


Preprocess:
  max_segment_chars: 1000
  checkistranslatable: True
  tokenize: False
  tokenizer: MTUOC_tokenizer_ast
  #one of None, MTUOC_tokenizer_xxx, Moses
  MosesTokenizerLang: es
  truecase: upper
  #one of always, never, upper
  truecaser: MTUOC
  #one of MTUOC, Moses
  truecaser_tokenizer: MTUOC_tokenizer_spa
  #one of None, MTUOC_tokenizer_xxx, Moses
  tcmodel: ./MTUOC-TAN-IBE-ast-spa/MTUOCtc.ast
  MosesTokenizerLang: en    
  use_MosesPunctNormalizer: False
  unescape_html: True
  fixencoding: True
  escapeforMoses: False
  remove_tags: True
  segment: True
  srxfiles: segment-TANIBE.srx
  srxlang: Asturian
  remove_control_characters: True
  remove_non_printable: True
  remove_non_latin_extended_chars: True
  remove_non_unicode_script_chars: True
  change_input_files: None
  change_input_delimiter: ;
  change_input_quote: '"'
  splitlongsegments: True
  maxlong: 270
  separators: "; : ,"


Postprocess:
  restore_case: True
  restore_tags: True
  numeric_check: False
  change_output_files: None
  change_output_delimiter: ;
  change_output_quote: '"'
  change_translation_files: None
  change_translation_delimiter: ;
  change_translation_quote: '"'
  
AutomaticPostedition: 
  type: None
  #None or HFPosteditor OllamaPosteditor
  sbert_threshold: 0.95
  
  
GetWordAlignments:
  type: fast_align
  #one of None, fast_align
  tokenizerSL: MTUOC_tokenizer_ast
  #one of None, MTUOC_tokenizer_xxx, Moses
  tokenizerTL: MTUOC_tokenizer_spa
  #one of None, MTUOC_tokenizer_xxx, Moses
  tokenizerSLcode: ast
  tokenizerTLcode: es
  #if required by tokenizer
  fwd_params_file: ./MTUOC-TAN-IBE-ast-spa/es-ast.params
  fwd_err_file: ./MTUOC-TAN-IBE-ast-spa/es-ast.err
  rev_params_file: ./MTUOC-TAN-IBE-ast-spa/ast-es.params
  rev_err_file: ./MTUOC-TAN-IBE-ast-spa/ast-es.err
