Marian:
  startMarianServer: True
  startMarianCommand: "./marian-server-GPU -m ./marian-model-eng-spa/model.bin -v ./marian-model-eng-spa/vocab-es.yml ./marian-model-ALTS-eng-spa/vocab-en.yml -p 8270 --n-best --alignment hard --normalize 1 -b 20 --word-penalty 10 --max-length-factor 1.24 --quiet &"
  IP: localhost
  port: 8270

Preprocess:
  sentencepiece: True
  spmodel: ./marian-model-ALTS-eng-spa/spmodel.model

