MTengine: OpusMT
system_name: EP-spa-cat

MTUOCServer:
  port: 8000
  type: MTUOC
  #one of MTUOC, Moses, ModernMT, OpenNMT, NMTWizard
  verbosity_level: 2
  #specific configuration when acting as ONMT server
  log_file: log.log


Preprocess:
  max_segment_chars: 1000
  checkistranslatable: True
  tokenize: False
  tokenizer: MTUOC_tokenizer_spa
  #one of None, MTUOC_tokenizer_xxx, Moses
  MosesTokenizerLang: es
  truecase: never
  #one of always, never, upper
  truecaser: MTUOC
  #one of MTUOC, Moses
  truecaser_tokenizer: MTUOC_tokenizer_spa
  #one of None, MTUOC_tokenizer_xxx, Moses
  tcmodel: ./ct2model-EP-20250605-spa-cat/tc.es
  MosesTokenizerLang: en    
  use_MosesPunctNormalizer: False
  unescape_html: True
  fixencoding: True
  escapeforMoses: False
  remove_tags: True
  segment: True
  srxfiles: segment.srx
  srxlang: Spanish
  remove_control_characters: True
  remove_non_printable: True
  remove_non_latin_extended_chars: False
  remove_non_unicode_script_chars: True
  change_input_files: None
  change_input_delimiter: ;
  change_input_quote: '"'
  splitlongsegments: False
  maxlong: 10000
  separators: "; : ,"


Postprocess:
  restore_case: False
  restore_tags: False
  numeric_check: False
  change_output_files: None
  change_output_delimiter: ;
  change_output_quote: '"'
  change_translation_files: None
  change_translation_delimiter: ;
  change_translation_quote: '"'
  
AutomaticPostedition: 
  type: None
  #None or HFPosteditor OllamaPosteditor
  sbert_threshold: 0.95
  
  
Scoring:
  #sbert
  calculate_sbert: False
  sort_by_sbert: False
  sbert_model: LaBSE
  # LaBSE is the default model and one model should be stated
  
    
GetWordAlignments:
  type: None
  #one of None, fast_align
  tokenizerSL: MTUOC_tokenizer_spa
  #one of None, MTUOC_tokenizer_xxx, Moses
  tokenizerTL: MTUOC_tokenizer_cat
  #one of None, MTUOC_tokenizer_xxx, Moses
  tokenizerSLcode: es
  tokenizerTLcode: en
  #if required by tokenizer
  fwd_params_file: ./ct2model-EP-20250605-spa-cat/align-es-ca.params
  fwd_err_file: ./ct2model-EP-20250605-spa-cat/align-es-ca.err
  rev_params_file: ./ct2model-EP-20250605-spa-cat/align-ca-es.params
  rev_err_file: ./ct2model-EP-20250605-spa-cat/align-ca-es.err
