Marian:
  startMarianServer: True
  #Linux
  startMarianCommand: "./marian-server-GPU -m ./MTUOC-Marian-TAN-IBE-spa-oci_aran/model.bin -v ./MTUOC-Marian-TAN-IBE-spa-oci_aran/shared.vocab.txt ./MTUOC-Marian-TAN-IBE-spa-oci_aran/shared.vocab.txt -p 8260 --n-best true --beam-size 12 --normalize 1.0 --word-penalty 0 --quiet &"
  #Windows
  startMarianCommandWindows: "marian-server.exe -m ./MTUOC-Marian-TAN-IBE-spa-oci_aran/model.bin -v ./MTUOC-Marian-TAN-IBE-spa-oci_aran/shared.vocab.txt ./MTUOC-Marian-TAN-IBE-spa-oci_aran/shared.vocab.txt -p 8260 --n-best true --beam-size 12 --normalize 1.0 --word-penalty 0 --quiet"
  #Mac
  startMarianCommandMac: "./marian-server-Mac -m ./MTUOC-Marian-TAN-IBE-spa-oci_aran/model.bin -v ./MTUOC-Marian-TAN-IBE-spa-oci_aran/shared.vocab.txt ./MTUOC-Marian-TAN-IBE-spa-oci_aran/shared.vocab.txt -p 8260 --n-best true --beam-size 12 --normalize 1.0 --word-penalty 0 --quiet &"
  IP: localhost
  port: 8260

Preprocess:
  sentencepiece: True
  spmodel: ./MTUOC-Marian-TAN-IBE-spa-oci_aran/spmodel.model
  prefix: "<2oci_aran>"
  
Reranking:
  model: None
  #distiluse-base-multilingual-cased-v2
  
  #one of:
  # None
  # LaBSE
  # paraphrase-multilingual-mpnet-base-v2
  # paraphrase-multilingual-MiniLM-L12-v2
  # distiluse-base-multilingual-cased-v2
  source_language: es
  source_tokenizer: MTUOC_tokenizer_spa
  glossary_file: None
  glossary_separator: ":" 
  marian_weight: 1
  sbert_weight: 0
  glossary_weight: 0
  neologism_weight: 0
