
model: hdnh2006/salamandra-2b-instruct
role_user: "Translate the following sentence from English to Spanish \"{SLsegment}\". "
#should include {SLsegment}
role_system: "Return only the translated sentence, without explanations, notes, or formatting. Do not include quotation marks."
role_assistant: ""

extract_regex: None
role: "user"

temperature: 0.0  
top_p: 0.0        
top_k: 0.0        
repeat_penalty: 1.0  
seed: 42          
num_predict: -1  
json: False



# temperature: controls randomness. 0.0 = predictable, 1.0 = creative.
# top_p: limits to top tokens with cumulative probability p (e.g., 0.9 = 90% most likely tokens).
# top_k: limits to the top-k most likely tokens (e.g., 40 = choose from 40 best options).
# repeat_penalty: discourages repetition. Values > 1.0 reduce repeated phrases.
# seed: sets a fixed seed for reproducible outputs (e.g., 42). Leave blank for random.
# num_predict: maximum number of tokens to generate. -1 means unlimited (until model stops).

# Default values depens on the model, but usually are the following:

#temperature: 0.9  
#top_p: 0.9        
#top_k: 40         
#repeat_penalty: 1.1  
#seed: None #means random
#num_predict: -1 
