#GENERAL
pyyaml
requests
flask
waitress
websocket-client
sentencepiece
sacremoses
ftfy
protobuf

#Chinese
jieba

#Japanese
fugashi

#OPUS MT
#pytorch
torch

#transformers
transformers

#ctranslate
ctranslate2
nvidia-cublas-cu12

#Ollama
ollama
