accelerate
bitsandbytes>=0.46
ctranslate2
deepl
flask
ftfy
google
google-cloud-translate
huggingface_hub
jieba
levenshtein
lxml
numpy
ollama
protobuf
pyonmttok
pyspellchecker
pyyaml
regex
requests
sacremoses
sentence_transformers
sentencepiece
torch
transformers
waitress
websocket_client
