# GENERAL & NETWORK INFRASTRUCTURE
pyyaml
requests
flask
waitress
websocket-client
ftfy
protobuf

# TOKENIZERS & TEXT PROCESSING
sentencepiece
sacremoses
jieba
fugashi

# DEEP LEARNING FRAMEWORKS
torch

# HUGGING FACE ECOSYSTEM (DOWNLOADER & LLM)
transformers
accelerate
huggingface_hub
hf_xet

# LOCAL & API TRANSLATION ENGINES
apertium
ctranslate2
nvidia-cublas-cu12
ollama
deepl
google-cloud-translate

# ADVANCED ENGINE & PARSING (EOLE)
#eole
#pydantic
